Django~=5.2
asgiref
Pillow
sqlparse
django-braces
django-embed-video
pymemcache
django-debug-toolbar
redis
django-redisboard
djangorestframework
requests
channels[daphne]
channels-redis
psycopg
uwsgi
python-decouple
setuptools
